<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- Top menu item -->
        <menuitem
            id="menu_etablissement_root"
            name="Etablissement"
            web_icon="etablissement,static/description/icon.png"
            sequence="74"/>

        <menuitem
            id="menu_etablissement_main"
            name="Etablissement"
            parent="menu_etablissement_root"
            sequence="0"/>

        <menuitem
            id="menu_etablissement_main_fundamental"
            name="Etablissements Fondamentales"
            action="open_view_etablissement_Fundamental_list_action"
            parent="menu_etablissement_main"
            sequence="0"/>

        <menuitem
            id="menu_etablissement_main_secondary"
            name="Etablissements Secondaires"
            action="open_view_etablissement_list_secondary_action"
            parent="menu_etablissement_main"
            sequence="1"/>

        <menuitem
            id="menu_autre_etablissement_main"
            name="Autre Etablissement"
            action="open_view_etablissement_list_action"
            parent="menu_etablissement_main"
            sequence="2"/>


        <menuitem
            id="menu_infrastructure_menu_main"
            name="Infrastructure"
            parent="menu_etablissement_root"
            sequence="3"/>

        <menuitem
            id="menu_etablissement_configuration"
            name="Configuration"
            parent="menu_etablissement_root"
            sequence="100"/>

      <!--infrastructure-->
        <menuitem
            action="action_building_tree1"
            name="building"
            id="menu_open_view_building"
            parent="menu_infrastructure_menu_main"
            sequence="1"/>


        <menuitem
            action="open_view_affectation_instruction_list_action"
            name="Affectation Equipements"
            id="menu_open_view_instruction"
            parent="menu_infrastructure_menu_main"
            sequence="4"/>

        <!--configuration-->
        <menuitem
            name="Equipements"
            id="menu_open_view_equipement"
            parent="menu_etablissement_configuration"
            sequence="2"/>

         <menuitem
            action="product.product_template_action_all"
            name="Equipements"
            id="menu_open_view_product"
            parent="menu_open_view_equipement"
            sequence="0"/>

        <menuitem
            action="open_view_categ_equipement_form"
            name="Categorie equipement"
            id="menu_open_view_categ_product"
            parent="menu_open_view_equipement"
            sequence="1"/>

        <menuitem
            action="open_view_type_equipement_form"
            name="Type equipement"
            id="menu_open_view_type_product"
            parent="menu_open_view_equipement"
            sequence="2"/>


         <menuitem name="Classroom"
              parent="menu_infrastructure_menu_main" sequence="2"
              id="menu_open_view_classroom_form"
              action="open_view_classroom_form"/>

    <!-- Etablissement Configuration -->

        <menuitem
            name="Etablissement"
            id="menu_open_view_etablissement"
            parent="menu_etablissement_configuration"
            sequence="4"/>

        <menuitem
            id="menu_view_etablissement_category_form"
            action="open_view_categ_form"
            parent="menu_open_view_etablissement"
            sequence="1"/>

        <menuitem
            id="menu_view_etablissement_type_form"
            action="open_view_type_form"
            parent="menu_open_view_etablissement"
            sequence="2"/>
        <menuitem
            id="menu_view_etablissement_cycle_form"
            action="open_view_cycle_form"
            parent="menu_open_view_etablissement"
            sequence="3"/>

        <menuitem
            id="menu_view_classification_salle_form"
            action="open_view_classification_classroom_form"
            parent="menu_open_view_etablissement"
            sequence="4"/>

        <!--Etablissement-->
        <menuitem
            id="menu_action_etablissement"
            action="open_view_etablissement_list_action"
            parent="base_config.menu_base_config_root"
            sequence="2"/>

    </data>
</odoo>
