<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- Top menu item -->
        <menuitem
            id="menu_base_config_root"
            name="Repository"
            web_icon="base_config,static/description/icon.png"
            sequence="50"/>

        <!--Nomenclature-->
        <menuitem
            id="menu_base_config"
            name="Nomenclature"
            parent="menu_base_config_root"
            sequence="0"/>

        <menuitem
            name="State"
            id="menu_open_view_state_list"
            action="open_view_state_action"
            parent="menu_base_config"
            sequence="1"/>

        <menuitem
            name="City"
            id="menu_open_view_city_list"
            action="open_view_city_action"
            parent="menu_base_config"
            sequence="2"/>

        <menuitem
            name="Town"
            id="menu_open_view_town_list"
            action="open_view_town_action"
            parent="menu_base_config"
            sequence="3"/>


        <!--DREN-->
        <menuitem
            id="menu_action_dren"
            name="DREN"
            action="open_view_dren_action"
            parent="menu_base_config"
            sequence="0"/>


    </data>
</odoo>
